{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="{% static 'login/tile.css' %}">

  </head>
  <div class="tiles-grid tiles-group size-4" data-group-title="General">


    <a href="{% url 'karate-home' %}" data-role="tile" data-size="wide" style="background-color: #FF4500">
      <img src="{% static 'images/scheduleIcon.jpg' %}" class="icon">
      <span class="branding-bar">Schedule</span>
    </a>


    <a href="{% url 'logout' %}" data-role="tile" data-size="wide" style="background-color: #008000">
      <img src="{% static 'images/logoutImage.png' %}" class="icon">
      <span class="branding-bar">logout</span>
    </a>

      <div data-role="tile" data-size="large" data-effect="animate-slide-up" style="background-color: #ff0000">
          <div class="slide"><img src="{% static 'images/hoursIcon.jpg' %}" class="icon"><h1 class="pos-absolute pos-center"></h1>
              <span class="branding-bar">hours</span></div>

          <div class="slide"><h1 class="pos-absolute pos-center">Total Hours: {{ total }}</h1></div>
              <div class="slide"><h1 class="pos-absolute pos-center">Current Hours: {{hours}} </h1></div>
              <span class="branding-bar">hours</span>
          </div></div>

  </div>



  <div data-role="panel" data-width="400" data-cls-content="bg-dark fg-white">
    <h1>Welcome to the Carraway Scheduling System: </h1>

    <p>Maintenance - April 1st between 7:00 a.m. and 8:00 a.m. Services will be unavailable.</p>
    <p>Thank you for your patience.</p>
    <p>Group Black</p>
  </div>





    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>