{% load staticfiles %}
<!doctype html>

<html lang="en">
    <head>
        <!--bootstrap.css-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <link rel="stylesheet" href="{% static 'login/tile.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <ul class="h-menu">
            {% if user.request.is_superuser %}
                <li><a href="{% url 'tile menu' %}">Main Menu</a></li>
            {% else %}
                <li><a href="{% url 'parent menu' %}">Main Menu</a></li>
            {% endif %}
            <li><a href="{% url 'karate-home' %}">Scheduling Home</a></li>
            <li><a href="{% url 'swingtime-today' %}">Daily View</a></li>
            <li><a href="{% url 'swingtime-monthly-view' current_datetime.year current_datetime.month %}">Monthly View</a></li>
            <li><a href="{% url 'swingtime-yearly-view' current_datetime.year %}">Yearly View</a></li>
            <li><a href="{% url 'swingtime-events' %}">Event Listing</a></li>
            <li>
                <a class="dropdown-toggle">Signup</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="{% url 'signup' %}">Parent Signup</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'admin' %}">Admin Signup</a></li>
                    <li class="divider"></li>
                    <li><a href = "{% url 'class' %}"> Class Sign Up</a></li>
                </ul>
            </li>
        </ul>

        <h1>Admin Signup</h1>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% if messages %}
                    {% for message in messages %}
                    <p>
                        {{ message }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    </body>
</html>