{% extends "baseswingtime.html" %}
{% block main_content %}
<div class="center">
    <h3>Welcome to the Caraway Scheduling!</h3>

</div>
<br>
<br>
<div class="center">
    <p style="border:3px; border-style:solid; border-color:black; padding: 1em;"><font size = "20">
        Username: {{ request.user.username }}
        <br>
        Contact Email: {{ request.user.email }}
        <br>
        {% for video in User %}
        {% if video.username == request.user.username %}
        <br>
            Total Hours: {{ video.total_hours }}
        <br>
            Current Hours: {{ video.curent_hours }}
        <br>
            Children: {{ video.children1 }} , {{ video.children2 }}
        {% endif %}
        {% endfor %}
        <br>
        First Name: {{request.user.first_name}}
        <br>
        Last Name: {{ request.user.last_name }}
        </font>
    </p>
</div>

{% endblock main_content %}

