{% extends "baseswingtime.html" %}
{% block main_content %}
<div class="center">
    <h3>Welcome to the Caraway Scheduling!</h3>



    <p>Select a Class Section below to see upcoming events:</p>
    <ul id="belts">
        <li><a id="white-belt"  href="{% url 'karate-event' "bgn" %}">Class-Section: White</a></li>
        <li><a id="yellow-belt" href="{% url 'karate-event' "bgn" %}">Class-Section: Yellow</a></li>
        <li><a id="green-belt"  href="{% url 'karate-event' "adv" %}">Class-Section: Green</a></li>
        <li><a id="brown-belt"  href="{% url 'karate-event' "adv" %}">Class-Section: Brown</a></li>
        <li><a id="black-belt"  href="{% url 'karate-event' "bbc" %}">Class-Section: Black</a></li>
    </ul>

</div>
<br>
<br>
<div class="center">
    <h3>Username: {{ request.user.username }}</h3>
    <h3>Contact Email: {{ request.user.email }}</h3>
    <h3>Child 1: {{ request.user.children1 }}</h3>
    <h3>First Name: {{request.user.first_name}}</h3>
    <h3>Last Name: {{ request.user.last_name }}</h3>



</div>

{% endblock main_content %}

