{% load staticfiles %}
<!doctype html>

<head>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'login/registration.css' %}">
   <meta charset='utf-8'>
</head>

<form>
    <a href="{% url 'adminMenu' %}">
        <img type = "image" src="{% static 'images/home-icon-silhouette_318-85097.jpg' %}" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
    </a>

    First Name:
    <p>
        <input type="text" name="firstname"><br>
    </p>

    Last Name:
    <p>
        <input type="text" name="lastname"><br>
    </p>

    Password:
    <p>
        <input type="password" name="pwd"><br>
    </p>

    Address:
     <p>
        <input type="text" name="address"><br>
     </p>

    Child First Name:
     <p>
        <input type="text" name="childFirst"><br>
     </p>

    Child Last Name:
     <p>
        <input type="text" name="childLast"><br>
     </p>

    <p>
    <input type="submit" value="submit"><br>
    </p>
</form>