body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #FFFFFF;
  background: #696969;
}

dropdown {
 color: #000000;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}